*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body {
    background: whitesmoke;
    overflow: hidden;
}
::selection {
    background: rgba (26,188,156,0.3);
}
.main {
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.wap {
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1) ;
}
.wap .title {
    height: 90px;
    background: #0669da;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wap form {
    padding: 30px 25px 25px 25px;
}
.wap form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wap form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus {
    border-color: #0669da;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder {
    color: #999;
}
.wap form .row i {
    position: absolute;
    width: 48px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #0669da;
    border: 1px solid #0669da;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wap form .pass {
    margin: -8px 0 20px 0;
}
.wap form .pass a {
    color: #0669da;
    font-size: 17px;
    text-decoration: none;

}
.wap form .pass a:hover {
    text-decoration: underline;
}
.wap form .button input{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #0669da;
    border: 1px solid #0669da;
    cursor: pointer;
}
form .button input:hover {
    background: #0b24ff;
}
.wap form .singup {
    text-align: center;
    margin: 20px;
    font-size: 17px;
}
.wap form .singup {
    color: #0669da;
    text-decoration: none;
}
form .singup a:hover {
    text-decoration: underline;
}